<div class="resume-container">
  <resume-header>
    <div class="name-wrapper">
      <div id="fullname" class="title">
        <%- page.name %>
      </div>
      <div id="jobtitle" class="sub-title">
        <%- page.jobtitle %>
      </div>
    </div>
  </resume-header>

 </div>
